PyYAML==3.11
boto==2.39.0
nose==1.3.3
requests==2.10.0
celery
git+https://github.com/yro/vhls.git

# A correct GitHub reference looks like this:
#
#   git+https://github.com/OWNER/REPO-NAME.git@TAG-OR-SHA#egg=DIST-NAME==VERSION
#
# For example:
#
#   git+https://github.com/edx/edx-lint.git@v0.3.2#egg=edx_lint==0.3.2
#
# where:
#
#   OWNER = edx
#   REPO-NAME = edx-lint
#   TAG-OR-SHA = v0.3.2
#   DIST-NAME = edx_lint
#   VERSION = 0.3.2

